<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Farmacia FarmaCarlo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<header>
    <h1>Farmacia FarmaCarlo</h1>
    <nav>
        <a href="/">Inicio</a> |
        <a href="/about">Acerca de</a> |
        <a href="/productos">Productos</a>
    </nav>
</header>

<hr>

<!-- Bloque dinámico -->
{% block content %}
{% endblock %}

<hr>

<footer>
    <p>Sistema Web - Farmacia FarmaCarlo © 2026</p>
</footer>

</body>
</html>